/*Sophie Strittmatter
  Style der Komponente Button, damit der Button wie in dem Mockup einen doppelten Rand hat; außen ein Grauton, innen ein Rotton*/

.dhbwButton{
    width: 105px;
    height: 30px;
    border: 2px solid #FF1A1A;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #5E5E5E;
}

.dhbwButton p{
    text-align: center;
    color:black;
}