/* Copyright 2021
DHBW Lörrach, Anwendungsprojekt Informatik: Vorlesungsplanungstool

Team Wasted Potential:
Yannick Kaiser
Fabian Kaiser
Leonard Kipar
Michael Matt
Christian Künzel, Matr.Nr.: 3889521, <chriskuenzel@web.de>, https://github.com/ChristianKuenzel

Content undergoes the terms of chosen licenses. See GitHub for more:
https://github.com/ChristianKuenzel/DHBW-Anwendungsprojekt
*/



.style {
    padding: 50px;
    text-align: center;
    font-size: 50px;
    /*font-family: ;*/
    color: #5E5E5E;
}